@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");

/* variables */
:root {
  --white: #d8dee9;
  --black: #2e3440;
}

/* global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

body {
  background: var(--white);
  color: var(--black);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#help-message {
  font-weight: 400;
  font-size: 2rem;
}

.hide {
  display: none;
}

.content {
  text-align: center;
}

.content #key-code {
  font-weight: 500;
  font-size: 12rem;
}

.content #key {
  font-weight: 300;
  font-size: 2rem;
}
